<!-- (keyup)="onKeyUp($event)" -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-template 
        ngFor 
        let-column
        let-i="index" 
        [ngForOf]="displayedColumns">
        <ng-container [matColumnDef]="column">
            <th 
                mat-header-cell 
                *matHeaderCellDef
                [ngStyle]="{
                    'width': columnWidth + '%'
                }">
                {{ column }}
            </th>
            <td 
                mat-cell
                *matCellDef="let element; let j = index"
                (mousedown)="onMouseDown(j, i)"
                (mouseup)="onMouseUp(j, i)"
                (mouseover)="onMouseOver(j, i)"
                (dblclick)="onMouseDBLClick()"
                [ngClass]="{
                    'selected': selectedCellsState[j][i] === CellStatus.Selected,
                    'fitting': selectedCellsState[j][i] === CellStatus.Fitting,
                    'unselected': selectedCellsState[j][i] === CellStatus.Unselect,
                    'pointer': selectedCellsState[j][i] === CellStatus.Pointer,
                    'editing': selectedCellsState[j][i] === CellStatus.Editing
                }"
                [ngStyle]="{
                    'width': columnWidth + '%'
                }">

                <mat-form-field
                    *ngIf="selectedCellsState[j][i] == CellStatus.Editing; else cellText">
                    <input
                        matInput
                        [size]="1"
                        [(ngModel)]="element[column]"
                        appPrefixFocusAndSelect>
                </mat-form-field>
                    <!-- <div *ngIf="selectedCellsState[j][i] == CellStatus.Editing; else cellText"></div> -->

                <ng-template
                    #cellText>
                    <div [ngSwitch]="columns[i].dataType">
                        <div
                            *ngSwitchCase="CellType.Text">
                            {{ element[column] }}
                        </div>

                        <div
                            *ngSwitchCase="CellType.Money">
                            {{ element[column] | currency}}
                        </div>

                        <div
                            *ngSwitchCase="CellType.Number">
                            {{ element[column] }}
                        </div>
                    </div>
                </ng-template>
            </td>
        </ng-container>
    </ng-template>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

