$select-color: #1a73e8;
$fitting-color: #c9c9c9;

table {
    width: 100%;
    user-select: none;
}

.mat-cell {
    font-size: 14px;
    height: 48px !important;
    // width: 20%;
    // text-align: center;

    // border-left: 1px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
}

table tr.mat-row {
    height: 58.56px;
}

.mat-form-field  {
    width: 100%;
    // height: 47px;
}

.selected {
    background-color: rgba($select-color, 0.1);
    user-select: none;
}

.pointer {
    border: .5px solid $select-color;
    border-radius: 3px;
    background-color: rgba($select-color, 0.1);
    // user-select: none;
}

.fitting {
    background-color: rgba($fitting-color, 0.2);
    user-select: none;
}

.unselected {
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    user-select: none;
}

.editing {
    border: 1px solid $select-color;
    user-select: none;
}

.editing-field {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    bottom: 0;
    border: 0;
    height: 25px;
    outline: none;
    text-align: center;
}

td {
    position: relative;
}

.selected, .unselected {
    -webkit-user-select: none; /* Webkit  */
    -moz-user-select:    none; /* Firefox */
    -ms-user-select:     none; /* IE 10   */
    -o-user-select:      none; /* Currently not supported in Opera but will be soon */
    user-select:         none;
}

