$select-color: #1a73e8;
$fitting-color: #c9c9c9;

table {
    width: 100%;
}

.mat-cell {
    font-size: 14px;
    min-height: 48px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.12);
}

.selected {
    // border: 1px solid $select-color;
    background-color: rgba($select-color, 0.2);
    user-select: none;
}

.pointer {
    border: 2px solid $select-color;
    background-color: rgba($select-color, 0.2);
    user-select: none;
}

.fitting {
    // border: 1px dashed $fitting-color;
    background-color: rgba($fitting-color, 0.2);
    user-select: none;
}

.unselected {
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;

    user-select: none;
}

.editing {
    border: 2px solid $select-color;
    // background-color: rgba($select-color, 0.5);
    user-select: none;
}

.editing-field {
    // position: absolute;
    // margin: auto;
    // // margin-right: auto;
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    bottom: 0;
    border: 0;
    height: 25px;
    outline: none;
    text-align: center;
}

td {
    position: relative;
}

// .last-pointer {
//     background-color: rgba($select-color, 0.2);
//     ::after {
//         width: 5px;
//         height: 5px;

//         color: $select-color;
//     }
// }

.selected, .unselected {
    -webkit-user-select: none; /* Webkit  */
    -moz-user-select:    none; /* Firefox */
    -ms-user-select:     none; /* IE 10   */
    -o-user-select:      none; /* Currently not supported in Opera but will be soon */
    user-select:         none;
}

