<!-- (keyup)="onKeyUp($event)" -->
<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-template 
        ngFor 
        let-column
        let-i="index" 
        [ngForOf]="displayedColumns">
        <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
            <td 
                mat-cell
                *matCellDef="let element; let j = index"
                (mousedown)="onMouseDown(j, i)"
                (mouseup)="onMouseUp(j, i)"
                (mouseover)="onMouseOver(j, i)"
                (dblclick)="onMouseDBLClick()"
                [ngClass]="{
                    'selected': selectedCellsState[j][i] === CellStatus.Selected,
                    'fitting': selectedCellsState[j][i] === CellStatus.Fitting,
                    'unselected': selectedCellsState[j][i] === CellStatus.Unselect,
                    'pointer': selectedCellsState[j][i] === CellStatus.Pointer,
                    'editing': selectedCellsState[j][i] === CellStatus.Editing
                }"> 

                <input
                    *ngIf="selectedCellsState[j][i] == CellStatus.Editing; else cellText"
                    [(ngModel)]="element[column]"
                    appPrefixFocusAndSelect
                    class="editing-field">

                <ng-template
                    #cellText>
                    {{ element[column] }}
                </ng-template>
            </td>
        </ng-container>
    </ng-template>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<table-sheets
    [dataSource]="ELEMENT_DATA"
    [columns]="columns"
    [disableEditingMessage]="'This cell is not editable'">
</table-sheets>
